{# Your Twig template file #}

{# Render the form start tag #}
{{ form_start(form) }}

{# Render the form fields #}
<div class="form-group">
    {{ form_label(form.arrivalDate, 'Arrival Date') }}
    {{ form_widget(form.arrivalDate, {'attr': {'class': 'form-control'}}) }}
    {{ form_errors(form.arrivalDate) }}
            <button type="submit">Submit</button>

</div>

{# Render the form end tag #}
{{ form_end(form) }}
