{% extends 'base.html.twig' %}

{% block title %}Search Results{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('public/js/carpooling.js') }}"></script>
{% endblock %}

{% block body %}
    <h1>Search Results</h1>
    
    {% if results is not empty %}
        <ul>
            {% for result in results %}
                <li>
                    <strong>Departure:</strong> {{ result.departure }}<br>
                    <strong>Destination:</strong> {{ result.destination }}<br>
                    <strong>Departure Date:</strong> {{ result.departureDate }}<br>
                    <strong>Departure Time:</strong> {{ result.time|date('H:i:s') }}<br>
                    <strong>Price:</strong> {{ result.price }}<br>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No results found.</p>
    {% endif %}
    <div class="form-group form-check">
        <input type="checkbox" class="form-check-input" id="sortPriceCheckbox" name="sortPrice">
        <label class="form-check-label" for="sortPriceCheckbox">Sort by Price</label>
    </div>

    <div id="searchResults"></div> {# Added an empty div to display search results #}
{% endblock %}
