{% extends 'base.html.twig' %}

{% block title %}Carpooling Details{% endblock %}

{% block body %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">
                    <h1 class="card-title">{{ block('title') }}</h1>
                </div>

                <div class="card-body">
                    <dl class="row">
                        <dt class="col-sm-3">Id</dt>
                        <dd class="col-sm-9">{{ carpooling.id }}</dd>

                        <dt class="col-sm-3">Departure Date</dt>
                        <dd class="col-sm-9">{{ carpooling.departureDate ? carpooling.departureDate|date('Y-m-d') : '' }}</dd>

                        <dt class="col-sm-3">Arrival Date</dt>
                        <dd class="col-sm-9">{{ carpooling.arrivalDate ? carpooling.arrivalDate|date('Y-m-d') : '' }}</dd>

                        <dt class="col-sm-3">Departure Place</dt>
                        <dd class="col-sm-9">{{ carpooling.daparturePlace }}</dd>

                        <dt class="col-sm-3">Arrival Place</dt>
                        <dd class="col-sm-9">{{ carpooling.arrivalPlace }}</dd>

                        <dt class="col-sm-3">Price</dt>
                        <dd class="col-sm-9">{{ carpooling.price }}</dd>

                        <dt class="col-sm-3">Time</dt>
                        <dd class="col-sm-9">{{ carpooling.time ? carpooling.time|date('H:i:s') : '' }}</dd>
                    </dl>
                    
                    <div class="mt-3">
                        <a href="{{ path('app_carpooling_index') }}" class="btn btn-secondary mr-2">Back to List</a>
                        <a href="{{ path('app_carpooling_edit', {'id': carpooling.id}) }}" class="btn btn-primary mr-2">Edit</a>
                        {{ include('carpooling/_delete_form.html.twig') }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
