{% extends 'base.html.twig' %}

{% block title %}Objet index{% endblock %}

{% block body %}
    <h1>Shop objects</h1>
    <input id="search-input" type="form-control" placeholder="Search...">
<title>AJAX Search Example</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function() {
            $("#search-input").on("keyup", function() {
                var value = $(this).val().toLowerCase();
                $("table tr").filter(function() {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });
        });
    </script>
    {% for objet in page %}
        <div class="container mt-3">
            <div class="card" style="width:400px">
                <img class="card-img-top" src="/upload/{{ objet.picture }}" alt="Card picture" style="width:100%">
                <div class="card-body">
                    <h4 class="card-title">{{ objet.getNom_o }}</h4>
                    <h4 class="card-title">{{ objet.type }}</h4>
                    <h4 class="card-title">{{ objet.description }}</h4>
                    <h4 class="card-title">{{ objet.getPrix }}</h4>
                    <p>{{ objet.getPrix }} €</p>
                    <!-- Bouton Ajouter au panier -->
                    <a href="{{ path('cart_add', {'id': objet.id}) }}" class="btn btn-primary">Add au panier</a>
                    <a href="{{ path('app_objet_show', {'id': objet.id}) }}" class="btn btn-danger">show</a>
                    <a href="{{ path('app_objet_edit', {'id': objet.id}) }}" class="btn btn-warning">edit</a>
                    {{ include('objet/_delete_form.html.twig') }}
                </div>
            </div>
        </div>
    {% endfor %}
   
    <a href="{{ path('app_objet_new') }}" class="btn btn-primary">Create new</a>

    {{ knp_pagination_render(page) }} <!-- Pagination render -->
    <script src="//code.jquery.com/jquery.js"></script>
    <script src="{{ asset('bundles/mercuryseriesflashy/js/flashy.js') }}"></script>
    {{ include('@MercurySeriesFlashy/flashy.html.twig') }}
{% endblock %}

{% block Header %}
<header id="header" class="d-flex align-items-center">
    <!-- Header content -->
</header>
{% endblock %}
