{% extends 'base.html.twig' %}

{% block title %}Objet index{% endblock %}

{% block body %}
    <h1>Objet index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Name</th><br>
                <th>Type</th><br>
                <th>Picture</th><br>
                <th>Age</th><br>
                <th>History</th><br>
                <th>Description</th><br>
                <th>actions</th><br>
            </tr>
        </thead>
        <tbody>
        {% for objet in objets %}
            <tr>
                <td>{{ objet.id }}</td>
                <td>{{ objet.Type }}</td>
                <td> <img src="{{asset('uploads/' ~objet.Picture )}}" alt="{{activite.image}}" width="50" height="50"></td>
                <td>{{ objet.Age }}</td>
                <td>{{ objet.historique }}</td>
                <td>{{ objet.description }}</td>
                <td>
                    <a href="{{ path('app_objet_show', {'id': objet.id}) }}"class="btn btn-danger">show</a>
                    <a href="{{ path('app_objet_edit', {'id': objet.id}) }}"class="btn btn-warning">edit</a>
                    <a href="{{ path('app_objet_delete', {'id':objet.id}) }}" class="btn btn-primary">Supprimer</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_objet_new') }}"class="btn btn-primary">Create new</a>
{% endblock %}
