{% extends 'base.html.twig' %}

{% block title %}Objet{% endblock %}

{% block body %}
    <h1>Objet</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ objet.id }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ objet.Type }}</td>
            </tr>
            <tr>
                <th>Picture</th>
                <td>{{ objet.Picture }}</td>
            </tr>
            <tr>
                <th>Age</th>
                <td>{{ objet.Age }}</td>
            </tr>
            <tr>
                <th>Historique</th>
                <td>{{ objet.historique }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ objet.description }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_objet_index') }}">back to list</a>

    <a href="{{ path('app_objet_edit', {'id': objet.id}) }}">edit</a>

    {{ include('objet/_delete_form.html.twig') }}
{% endblock %}
