{% extends 'base.html.twig' %} {% block content %}

  <!-- ======= hero Section ======= -->
  <section id="hero">

    <div class="hero-content" data-aos="fade-up">
      <h2 style="color: #71A5C7;">Empowering <span style="color: #B2D257;">change</span><br>for greener tomorrow!</h2>
      <div>
        <a href="#about" class="btn-get-started scrollto">Get Started</a>
        <a href="#portfolio" class="btn-projects scrollto">Sign in</a>
      </div>
    </div>

    <div class="hero-slider swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide" style="background-image: url('{{asset('img/hero-carousel/1.jpg')}}');"></div>
        <div class="swiper-slide" style="background-image: url('{{asset('img/hero-carousel/2.jpg')}}');"></div>
        <div class="swiper-slide" style="background-image: url('{{asset('img/hero-carousel/3.jpg')}}');"></div>
        <div class="swiper-slide" style="background-image: url('{{asset('img/hero-carousel/4.jpg')}}');"></div>
        <div class="swiper-slide" style="background-image: url('{{asset('img/hero-carousel/5.jpg')}}');"></div>
      </div>
    </div>

  </section><!-- End Hero Section -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about">
      <div class="container" data-aos="fade-up">
        <div class="row">
          <div class="col-lg-6 about-img">
            <img src="{{asset('img/about-img.jpg')}}" alt="">
          </div>

          <div class="col-lg-6 content">
            <h2>EcoSphère goes beyond merely applying sustainability principles to embody a commitment to a conscious community, where each interaction contributes to preserving our world's precious ecosystem.</h2>
            <ul>
              <li><i class="bi bi-check-circle"></i> obj 1</li>
              <li><i class="bi bi-check-circle"></i> obj 2</li>
              <li><i class="bi bi-check-circle"></i> obj 3</li>
            </ul>

          </div>
        </div>

      </div>
    </section><!-- End About Section -->

    <!-- ======= Services Section ======= -->
    <section id="services">
      <div class="container" data-aos="fade-up">
        <div class="section-header">
          <h2>Services</h2>
        </div>

        <div class="row gy-4">

          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
            <div class="box">
              <div class="icon"><i class="bi bi-shop"></i></div>
              <h4 class="title"><a href="">Eco-Shop</a></h4>
              <p class="description">An Eco-Shop from producer to consumer.</p>
            </div>
          </div>

          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="200">
            <div class="box">
              <div class="icon"><i class="bi bi-car-front-fill"></i></div>
              <h4 class="title"><a href="/carpooling/search">Carpooling</a></h4>
              <p class="description">Go green and share the ride.</p>
            </div>
          </div>

          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="300">
            <div class="box">
              <div class="icon"><i class="bi bi-arrow-repeat"></i></div>
              <h4 class="title"><a href="">Sharing Hub</a></h4>
              <p class="description">If you cannot reduce , then reuse.</p>
            </div>
          </div>

          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="400">
            <div class="box">
              <div class="icon"><i class="bi bi-calendar2-event"></i></div>
              <h4 class="title"><a href="">Events</a></h4>
              <p class="description">Discover exciting events in your community and beyond.</p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Services Section -->


    <!-- ======= Testimonials Section ======= 
    <section id="testimonials">
      <div class="container" data-aos="fade-up">
        <div class="section-header">
          <h2>Testimonials</h2>
          
        </div>

        <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
          <div class="swiper-wrapper">

            <div class="swiper-slide">
              <div class="testimonial-item">
                <p>
                  <img src="{{asset('img/quote-sign-left.png')}}" class="quote-sign-left" alt="">
                  Proin iaculis purus consequat sem cure digni ssim donec porttitora entum suscipit rhoncus. Accusantium quam, ultricies eget id, aliquam eget nibh et. Maecen aliquam, risus at semper.
                  <img src="{{asset('img/quote-sign-right.png')}}" class="quote-sign-right" alt="">
                </p>
                <img src="{{asset('img/testimonial-1.jpg')}}" class="testimonial-img" alt="">
                <h3>Saul Goodman</h3>
                <h4>Ceo &amp; Founder</h4>
              </div>
            </div> End testimonial item 

            <div class="swiper-slide">
              <div class="testimonial-item">
                <p>
                  <img src="{{asset('img/quote-sign-left.png')}}" class="quote-sign-left" alt="">
                  Export tempor illum tamen malis malis eram quae irure esse labore quem cillum quid cillum eram malis quorum velit fore eram velit sunt aliqua noster fugiat irure amet legam anim culpa.
                  <img src="{{asset('img/quote-sign-right.png')}}" class="quote-sign-right" alt="">
                </p>
                <img src="{{asset('img/testimonial-2.jpg')}}" class="testimonial-img" alt="">
                <h3>Sara Wilsson</h3>
                <h4>Designer</h4>
              </div>
            </div> End testimonial item 

            <div class="swiper-slide">
              <div class="testimonial-item">
                <p>
                  <img src="{{asset('img/quote-sign-left.png')}}" class="quote-sign-left" alt="">
                  Enim nisi quem export duis labore cillum quae magna enim sint quorum nulla quem veniam duis minim tempor labore quem eram duis noster aute amet eram fore quis sint minim.
                  <img src="{{asset('img/quote-sign-right.png')}}" class="quote-sign-right" alt="">
                </p>
                <img src="{{asset('img/testimonial-3.jpg')}}" class="testimonial-img" alt="">
                <h3>Jena Karlis</h3>
                <h4>Store Owner</h4>
              </div>
            </div> End testimonial item 

            <div class="swiper-slide">
              <div class="testimonial-item">
                <p>
                  <img src="{{asset('img/quote-sign-left.png')}}" class="quote-sign-left" alt="">
                  Fugiat enim eram quae cillum dolore dolor amet nulla culpa multos export minim fugiat minim velit minim dolor enim duis veniam ipsum anim magna sunt elit fore quem dolore labore illum veniam.
                  <img src="{{asset('img/quote-sign-right.png')}}" class="quote-sign-right" alt="">
                </p>
                <img src="{{asset('img/testimonial-4.jpg')}}" class="testimonial-img" alt="">
                <h3>Matt Brandon</h3>
                <h4>Freelancer</h4>
              </div>
            </div> End testimonial item 

            <div class="swiper-slide">
              <div class="testimonial-item">
                <p>
                  <img src="{{asset('img/quote-sign-left.png')}}" class="quote-sign-left" alt="">
                  Quis quorum aliqua sint quem legam fore sunt eram irure aliqua veniam tempor noster veniam enim culpa labore duis sunt culpa nulla illum cillum fugiat legam esse veniam culpa fore nisi cillum quid.
                  <img src="{{asset('img/quote-sign-right.png')}}" class="quote-sign-right" alt="">
                </p>
                <img src="{{asset('img/testimonial-5.jpg')}}" class="testimonial-img" alt="">
                <h3>John Larson</h3>
                <h4>Entrepreneur</h4>
              </div>
            </div> End testimonial item 

          </div>
          <div class="swiper-pagination"></div>
        </div>

      </div>
    </section> End Testimonials Section -->

    <!-- ======= Call To Action Section ======= -->
    <section id="call-to-action">
      <div class="container" data-aos="zoom-out">
        <div class="row">
          <div class="col-lg-9 text-center text-lg-start">
            <h3 class="cta-title">Call To Action</h3>
            <p class="cta-text"> Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          </div>
          <div class="col-lg-3 cta-btn-container text-center">
            <a class="cta-btn align-middle" href="#">Call To Action</a>
          </div>
        </div>
      </div>
    </section><!-- End Call To Action Section -->

    <!-- ======= Team Section ======= -->
<section id="team">
	<div class="container" data-aos="fade-up">
		<div class="section-header">
			<h2>Our Team</h2>
		</div>
		<div class="row justify-content-center">
			<div class="col-lg-3 col-md-6">
				<div class="member">
					<div class="pic"><img src="{{asset('img/wifek.jpg')}}" alt="" style="width:500px;height:320px;"></div>
					<div class="details">
						<h4>Ben Abdallah Wifek</h4>
						<span>Chief Executive</span>
						<div class="social">
							<a href="">
								<i class="bi bi-twitter"></i>
							</a>
							<a href="">
								<i class="bi bi-facebook"></i>
							</a>
							<a href="">
								<i class="bi bi-instagram"></i>
							</a>
							<a href="">
								<i class="bi bi-linkedin"></i>
							</a>
						</div>
					</div>
				</div>
			</div>

			<div class="col-lg-3 col-md-6">
				<div class="member">
					<div class="pic"><img src="{{asset('img/aziz.jpg')}}" alt="" style="width:500px;height:320px;"></div>
					<div class="details">
						<h4>Wardi Aziz</h4>
						<span>Chief Executive Officer</span>
						<div class="social">
							<a href="">
								<i class="bi bi-twitter"></i>
							</a>
							<a href="">
								<i class="bi bi-facebook"></i>
							</a>
							<a href="">
								<i class="bi bi-instagram"></i>
							</a>
							<a href="">
								<i class="bi bi-linkedin"></i>
							</a>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-3 col-md-6">
				<div class="member">
					<div class="pic"><img src="{{asset('img/fairouz.jpg')}}" alt="" style="width:500px;height:320px;"></div>
					<div class="details">
						<h4>Felfel Fairouz</h4>
						<span>Chief Executive Officer</span>
						<div class="social">
							<a href="">
								<i class="bi bi-twitter"></i>
							</a>
							<a href="">
								<i class="bi bi-facebook"></i>
							</a>
							<a href="">
								<i class="bi bi-instagram"></i>
							</a>
							<a href="">
								<i class="bi bi-linkedin"></i>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="row justify-content-center">
			<div class="col-lg-3 col-md-6">
				<div class="member">
					<div class="pic"><img src="{{asset('img/belhssan.png')}}" alt="" style="width:500px;height:320px;"></div>
					<div class="details">
						<h4>Ben Yahya Belhssan</h4>
						<span>Product Manager</span>
						<div class="social">
							<a href="">
								<i class="bi bi-twitter"></i>
							</a>
							<a href="">
								<i class="bi bi-facebook"></i>
							</a>
							<a href="">
								<i class="bi bi-instagram"></i>
							</a>
							<a href="">
								<i class="bi bi-linkedin"></i>
							</a>
						</div>
					</div>
				</div>
			</div>

			<div class="col-lg-3 col-md-6">
				<div class="member">
					<div class="pic"><img src="{{asset('img/malek.png')}}" alt="" style="width:500px;height:320px;"></div>
					<div class="details">
						<h4>Abdelloui Malek</h4>
						<span>CTO</span>
						<div class="social">
							<a href="">
								<i class="bi bi-twitter"></i>
							</a>
							<a href="">
								<i class="bi bi-facebook"></i>
							</a>
							<a href="">
								<i class="bi bi-instagram"></i>
							</a>
							<a href="">
								<i class="bi bi-linkedin"></i>
							</a>
						</div>
					</div>
				</div>
			</div>

			<div class="col-lg-3 col-md-6">
				<div class="member">
					<div class="pic"><img src="{{asset('img/abdesslem.jpg')}}" alt="" style="width:500px;height:320px;"></div>
					<div class="details">
						<h4>Masmoudi Abdessalem</h4>
						<span>Accountant</span>
						<div class="social">
							<a href="">
								<i class="bi bi-twitter"></i>
							</a>
							<a href="">
								<i class="bi bi-facebook"></i>
							</a>
							<a href="">
								<i class="bi bi-instagram"></i>
							</a>
							<a href="">
								<i class="bi bi-linkedin"></i>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- End Team Section -->

    <!-- ======= Contact Section ======= -->
    <section id="contact">
      <div class="container" data-aos="fade-up">
        <div class="section-header">
          <h2>Contact Us</h2>
          <p>Sed tamen tempor magna labore dolore dolor sint tempor duis magna elit veniam aliqua esse amet veniam enim export quid quid veniam aliqua eram noster malis nulla duis fugiat culpa esse aute nulla ipsum velit export irure minim illum fore</p>
        </div>

        <div class="row contact-info">

          <div class="col-md-4">
            <div class="contact-address">
              <i class="bi bi-geo-alt"></i>
              <h3>Address</h3>
              <address>A108 Adam Street, NY 535022, USA</address>
            </div>
          </div>

          <div class="col-md-4">
            <div class="contact-phone">
              <i class="bi bi-phone"></i>
              <h3>Phone Number</h3>
              <p><a href="tel:+155895548855">+1 5589 55488 55</a></p>
            </div>
          </div>

          <div class="col-md-4">
            <div class="contact-email">
              <i class="bi bi-envelope"></i>
              <h3>Email</h3>
              <p><a href="mailto:info@example.com">info@example.com</a></p>
            </div>
          </div>

        </div>
      </div>     
    </section><!-- End Contact Section -->

  </main><!-- End #main -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>


</body>

{% endblock %} 