{% extends 'base.html.twig' %} 

{% block content %}
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/stylesidebar.css">
    
    <div class="wrapper d-flex align-items-stretch">
        
    <style>
    body {
        background-color: #f0fff0; /* Light green background color */
    }
    
</style>
        <!-- Page Content -->
        <div id="content" class="p-4 p-md-5 pt-5">
            <section id="community-events" class="text-center py-5">
                <div class="container">
                    <h2 class="section-title">My Events</h2>
                    <p class="section-description">Events you're interested in.</p>
                </div>
            </section>

            <div class="container-fluid" style="padding-left: 15px; padding-right: 15px;">
                <!-- Add Event Context -->
                <div class="row">
                    {% for event in Myevents %}
                        <div class="col-md-3 mb-4">
                            <div class="card h-100 shadow position-relative">
                                <img src="{{ asset('uploads/images/' ~ event.event.image) }}" class="card-img-top" alt="Event Image"/>
                                <div class="card-body position-relative">
                                    <!-- Date Container -->
                                    <div class="date-container bg-success text-white p-2 position-absolute top-0 start-0">
                                        <p class="mb-0">{{ event.registrationDate ? event.registrationDate|date('m/d/Y') : '' }}</p>
                                    </div>

                                    <h5 class="card-title" style="margin-top: 40px;">{{ event.event.eventName }}</h5>

                                    <p class="card-text">
                                        <p><strong>Location:</strong> {{ event.event.location }}</p>
                                        <p>{{ event.event.objective }}</p>
                                    </p>
                                    <!-- More Details Link -->
                                    <a href="{{ path('more_details', {id:event.event.id}) }}" class="position-absolute bottom-0 start-0 p-3 text-decoration-none">More Details</a>
                                </div>
                                <a href="{{ path('app_delete_eventintrest', {id:event.id}) }}" class="btn btn-danger">Not intrested</a>
                                
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="navigation">
                <!-- Navigation content -->
            </div>
        </div>
    </div>

    <!-- JavaScript imports -->
    <script src="js/jquery.min.js"></script>
    <script src="js/popper.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/mainsidebar.js"></script>

    <script>
        // Add event listener to update event buttons
        const updateButtons = document.querySelectorAll('.updateEventBtn');
        updateButtons.forEach(button => {
            button.addEventListener('click', function() {
                // Get the event ID from the data attribute
                const eventId = this.getAttribute('data-event-id');
                // Redirect to the update-event page with the event ID
                window.location.href = '/update-event/' + eventId;
            });
        });
    </script>
{% endblock %}
